{% extends 'partials/base_dashboard.html.twig' %}
{% block title %}Budget
{% endblock %}

{% block body %}

		<div class="container">
		<div class="row">
			<h1 class=" text-primary border-bottom border-warning">Compte : {{BankAccount.name}}</h1>
		</div>
		<div class="row">
			<nav class="d-flex justify-content-start" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="{{ path("app_bank_account" , {"BankAccountId": BankAccount.id} )}}">{{BankAccount.name}}</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Budgets</li>
				</ol>
			</nav>

		</div>
		<div class="row">
			<h2>Tous les budgets</h2>
		</div>
		<div class="row">
			<div class="d-flex justify-content-end p-2">
				
			</div>
		</div>
		
		
	</div>{% endblock %}
