{% extends 'partials/base_dashboard.html.twig' %}

{% block title %}Hello Dashboard
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1 class="border-bottom border-warning">Bienvenue sur votre tableau de bord
				{{app.user.username|upper}}</h1>
		</div>
		<div class="row">
			<div class="d-flex justify-content-end">
				<a href="">
					<button class="btn btn-primary">Créer un compte</button>
				</a>
			</div>
		</div>
	</div>
</div>{% endblock %}
