{% extends 'partials/base_dashboard.html.twig' %}

{% block title %}Hello Dashboard
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="d-flex justify-content-center">
				<div class="p-5 bg-primary">primary</div>
				<div class="p-5 bg-secondary">secondary</div>
				<div class="p-5 bg-warning">warning</div>
				<div class="p-5 bg-info">info</div>
				<div class="p-5 bg-success">success</div>
			</div>
		</div>
	</div>
{% endblock %}
